################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HesapMakinesi/HesapMakinesi/bin/Debug/net6.0-windows
