################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HesapMakinesi/HesapMakinesi/bin
/HesapMakinesi/HesapMakinesi/obj
/HesapMakinesi/.vs
/HesapMakinesi/.vs/HesapMakinesi